<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('章节')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
    <div class="ui-layout-west">
        <div class="box box-main">
            <div class="box-header">
                <div class="box-title">
                    <i class="fa icon-grid"></i> 章节
                </div>
                <div class="box-tools pull-right">
                    <a type="button" class="btn btn-box-tool" href="#" onclick="openEditTitle();" title="章节"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-box-tool" id="btnAddTitle" title="添加章节"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新章节"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="ui-layout-content">
                <div id="tree" class="ztree"></div>
            </div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="container-div">
            <div class="select-list">
                <ul>
                    <li>
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="editContent();"><i class="fa fa-search"></i>&nbsp;编辑</a>
                        <a class="btn btn-warning btn-rounded btn-sm" onclick="saveContent();"><i class="fa fa-refresh"></i>&nbsp;保存</a>
                    </li>
                </ul>
            </div>
            <form class="formH100" id="bookForm">
                <input type="hidden" id="bookKey" name="bookKey" th:value="${bookKey}" />
                <input type="hidden" id="titleId" name="titleId"/>
                <textarea readonly="true" style="font-family: 楷体;" class="paperlines" id="content" name="content" placeholder="  最是人间留不住,朱颜辞镜花辞树" ></textarea>
            </form>
        </div>
    </div>
     
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: layout-latest-js" />
    <th:block th:include="include :: ztree-js" />
    <script th:inline="javascript">
        var bookKey = [[${bookKey}]];
        var prefix = ctx + "logic/title";
        $(function() {
            let pageHeight = $(document.body).height();

            var panehHidden = false;
            if ($(this).width() < 769) {
                panehHidden = true;
            }

            $('body').layout({ initClosed: panehHidden, west__size: 185 });
            // 回到顶部绑定

            if ($.fn.toTop !== undefined) {
                var opt = {
                    win:$('.ui-layout-center'),
                    doc:$('.ui-layout-center')
                };
                $('#scroll-up').toTop(opt);
            }
            queryTree();
            initTextAreaTab(document.getElementById('content'), 4);
            document.querySelector("#btnRefresh").onclick = queryTree;
            document.querySelector("#btnAddTitle").onclick = openAddTitle;
        });

        //chapter tree
        function queryTree() {
            var url = prefix + "/tree?bookKey=" + bookKey;
            var options = {
                url: url,
                expandLevel: 2,
                onClick : zOnClick
            };
            $.tree.init(options);

            function zOnClick(event, treeId, treeNode) {
                let nodeId = treeNode.id;
                if (nodeId != '99999999'){
                    $("#titleId").val(nodeId);
                    getContentByTitileId(nodeId);
                }else{
                    $("#titleId").val('');
                }
            }
        }

        function getContentByTitileId(id){
            //点击章节获取对应的内容
            $.ajax({
                url: prefix + "/getContent",
                method: "get",
                data: {titleId: id},
                success: function(data){
                    if (data.code == 0){
                        try{
                            if (data.data.content){
                                $("#content").val(data.data.content);
                                $("#content").attr("readonly", true);
                            }else{
                                $("#content").val("暂无内容");
                            }
                        }catch (e) {
                            $("#content").val("暂无内容");
                            $("#content").attr("readonly", false);                        }
                    }
                }
            });
        }

        function saveContent(){
            let bookContent = $("#bookForm").serialize();
            $.ajax({
                url: prefix + "/addContent",
                method: "post",
                data: bookContent,
                success: function(data){
                    if(data.code == 0){
                        $.modal.msgSuccess(data.msg);
                    }
                }
            });
            $("#content").attr("readonly", true);
        }

        function editContent(){
            $.modal.loading("编辑模式");
            $("#content").attr("readonly", false);
            setTimeout(function(){
                $.modal.closeLoading();
            }, 500)
        }

        function openEditTitle(){
            let titleId = $("#titleId").val();
            if (titleId != '999999999' && titleId != ''){
                $.modal.open("修改", prefix + "/edit/"+titleId, 800, 200, editTitleCallBack);
            }
        }

        function openAddTitle(){
            let bookKey = $("#bookKey").val();
            $.modal.open("修改", prefix + "/add?bookKey="+bookKey, 800, 200, addTitleCallBack);

        }

        function addTitleCallBack(index){
            let retVal = window.parent.document.querySelector("#layui-layer-iframe"+index).contentWindow.submitHandler();
            if (retVal){
                setTimeout(function (){
                    queryTree();
                }, 800);
                $.modal.closeAll();
            }
        }

        function editTitleCallBack(index){
            window.parent.document.querySelector("#layui-layer-iframe"+index).contentWindow.submitHandler();
            setTimeout(function (){
                queryTree();
            }, 800);
            $.modal.closeAll();
        }
    </script>
</body>
</html>