<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('章节')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
    <div class="ui-layout-west">
        <div class="box box-main">
            <div class="box-header">
                <div class="box-title">
                    <i class="fa icon-grid"></i> 章节
                </div>
                <div class="box-tools pull-right">
                    <a type="button" class="btn btn-box-tool" href="#" onclick="openEditTitle();" title="章节"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-box-tool" id="btnAddTitle" title="添加章节"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新章节"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="ui-layout-content">
                <div id="tree" class="ztree"></div>
            </div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="container-div">
            <div class="select-list">
                <ul>
                    <li>
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="editContent();"><i class="fa fa-search"></i>&nbsp;编辑</a>
                        <a class="btn btn-warning btn-rounded btn-sm" onclick="saveContent();"><i class="fa fa-refresh"></i>&nbsp;保存</a>
                        <a class="btn btn-danger btn-rounded btn-sm" onclick="addCard();"><i class="fa fa-credit-card"></i>&nbsp;元素</a>
                    </li>
                </ul>
            </div>
            <form class="formH100" id="bookForm">
                <input type="hidden" id="bookKey" name="bookKey" th:value="${bookKey}" />
                <input type="hidden" id="titleId" name="titleId"/>
                <textarea readonly="true" style="font-family: 楷体;" class="paperlines" id="content" name="content" placeholder=" --S 保存 &#10; --E 编辑 &#10; alt+[ 编辑 &#10; --L 字数" ></textarea>
            </form>
        </div>
    </div>
     
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: layout-latest-js" />
    <th:block th:include="include :: ztree-js" />
    <script th:inline="javascript">let bookKey = [[${bookKey}]];let bookName = [[${bookName}]];</script>
    <script th:src="@{/ruoyi/logic/title.js}"></script>
</body>
</html>