<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('人物关系列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>书名：</label>
                                <select name="bookKey" th:with="type=${@dict.getType('book_name')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>人物：</label>
                                <input type="text" name="personIdA_"/>
                                <input type="hidden" name="personIds"/>
                            </li>
                            <li>
                                <label>关系名称：</label>
                                <input type="text" name="relationName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="searchBefore()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="logic:relation:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="logic:relation:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="logic:relation:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="logic:relation:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('logic:relation:edit')}]];
        var removeFlag = [[${@permission.hasPermi('logic:relation:remove')}]];
        var bookKeyDatas = [[${@dict.getType('book_name')}]];
        var prefix = ctx + "logic/relation";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "人物关系",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'relationId',
                    title: '',
                    visible: false
                },
                {
                    field: 'bookKey',
                    title: '书名',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(bookKeyDatas, value);
                    }
                },
                {
                    field: 'nameA',
                    title: '人物'
                },
                {
                    field: 'nameB',
                    title: '人物2'
                },
                {
                    field: 'relationName',
                    title: '关系名称'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.relationId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.relationId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        function setPersonId(list, parm){
            if (list.length>0){
                let personId = '';
                for (let i=0;i<list.length;i++){
                    personId += list[i].metaId+",";
                }
                personId = personId.substring(0, personId.length-1);
                $("input[name='"+parm+"']").val(personId);
                $.table.search();
            }else{
                alert("该人物未收录");
            }
            
        }

        function searchBefore(){
            let name = $("input[name='personIdA_']").val();
            if (name == ''){
                $("input[name='personIds']").val('');
                $.table.search();
            }else{
                searchByName(name,setPersonId,"personIds");
            }
        }


    </script>
    <script th:src="@{/ruoyi/logic/logicPerson.js}"></script>
</body>
</html>