<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增书中元素')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-meta-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
                    <select name="state" class="form-control m-b" th:with="type=${@dict.getType('book_meta')}" onchange="querySeq();">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">排序：</label>
                <div class="col-sm-8">
                    <input name="seq" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">简介：</label>
                <div class="col-sm-8">
                    <textarea name="profile" class="form-control" maxlength="256"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">照片：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="photo">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="photo" name="file" type="file">
                    </div>
                </div>
            </div>
            <div class="form-group hidden">
                <label class="col-sm-3 control-label">书名：</label>
                <div class="col-sm-8">
                    <input type="hidden" name="bookKey" th:value="${bookKey}">
                </div>
            </div>
            <div class="form-group hidden">
                <label class="col-sm-3 control-label">：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control" maxlength="256"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script th:inline="javascript">
        var prefix = ctx + "logic/meta"

        $(function (){
            querySeq();
        });

        function querySeq(){
            let metaState = $("select[name='state']").val();
            $.ajax({
                url: prefix + "/querySeq",
                method:"get",
                data:{state: metaState},
                success: function(data){
                    $("input[name='seq']").val(data.data.seq);
                }
            });
        }

        $("#form-meta-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-meta-add').serialize());
            }
        }

        $(".file-upload").fileinput({
            uploadUrl: ctx + 'common/upload',
            maxFileCount: 1,
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
    </script>
</body>
</html>