<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('书中元素列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row" id="metaContent">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>名称：</label>
                            <input type="text" name="name"/>
                        </li>
                        <li class="hidden">
                            <label>书名：</label>
                            <input type="hidden" name="bookKey" th:value="${bookKey}">
                        </li>
                        <li>
                            <label>类型：</label>
                            <select name="state" th:with="type=${@dict.getType('book_meta')}" onchange="searchMeta();">
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchMeta()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                            <a class="btn btn-success btn-rounded btn-sm" onclick="addMeta();" shiro:hasPermission="logic:meta:add">
                                <i class="fa fa-plus"></i> 添加
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:src="@{/ruoyi/logic/meta.js}"></script>
<script th:inline="javascript">
    let editFlag = [[${@permission.hasPermi('logic:meta:edit')}]];
    let removeFlag = [[${@permission.hasPermi('logic:meta:remove')}]];

    let bookKey = [[${bookKey}]];

    var prefix = ctx + "logic/meta";

    $(function () {
        queryMeta();
    });

    let pageNum = 1,pageSize = 24,ajaxFlag = true;

    function initQueryParm(){
        pageNum = 1;pageSize = 24;ajaxFlag = true;
        $(".metaCol").remove();
    }

    function searchMeta(){
        initQueryParm();
        queryMeta();
    }

    function queryMeta(){
        if (!ajaxFlag){
            return;
        }
        let metaName = $("input[name='name']").val();
        let metaState = $("select[name='state']").val();
        $.ajax({
            url: prefix + "/list",
            method: "post",
            beforeSend: function(){
                ajaxFlag = false;
                $.modal.loading();
            },
            data: {bookKey: bookKey, name: metaName, state: metaState, pageNum: pageNum, pageSize: pageSize, orderByColumn: "seq", isAsc: "asc"},
            success: function (data){
                let model = "<div class=\"col-sm-3 metaCol\"><div class=\"thumbnail\"><img style=\"height:140px !important;\" src=\"{0}\">"
                 +"<div class=\"caption\">"
                 +"<h3>{1}</h3>"
                 +"<div class=\"text-right\" style=\"padding-bottom: 10px;\">"
                 +"<a href=\"#plus\" style=\"padding-right: 10px;\" onclick=\"addRelation({3},'{1}')\" title=\"添加关系\"><i class=\"fa fa-plus\"></i></a>"
                 +"<a href=\"#times\" style=\"padding-right: 10px;\" onclick=\"removeMeta({3})\" title=\"删除元素\"><i class=\"fa fa-times\"></i></a>"
                 +"<a href=\"#pencil-square-o\" style=\"padding-right: 10px;\" onclick=\"editMeta({3})\" title=\"编辑元素\"><i class=\"fa fa-edit\"></i></a>"
                 +"<a href=\"#pencil-square-o\" style=\"padding-right: 10px;\" onclick=\"seeMeta({3})\" title=\"查看\"><i class=\"fa fa-eye\"></i></a>"
                 +"</div>"
                 +"<div style=\"height: 100px;max-height: 100px;overflow: hidden;\">"
                 +"<p title=\"{2}\">{2}</p>"
                 +"</div></div></div></div>";

                let meta = data.rows;

                if (meta.length === pageSize){
                    pageNum++;
                    ajaxFlag = true;
                }else{
                    ajaxFlag = false;
                }

                for (let i=0;i<meta.length;i++){
                    let photo = meta[i].photo===""?ctx + "img/qtk.jpg":meta[i].photo;

                    $("#metaContent").append(model.format(photo, meta[i].name, meta[i].profile, meta[i].metaId));
                }

                $.modal.closeLoading();
            }
        });
    }

    function addRelation(metaId, name){
        $.modal.openTab(name+"::羁绊", ctx + "logic/relation?metaId=" + metaId);
    }

    function removeMeta(metaId){
        $.modal.confirm("确定删除元素？", function (evt){
            $.ajax({
                url: prefix + "/remove",
                method: "post",
                data: {ids: metaId},
                success: function(data){
                    initQueryParm();
                    queryMeta();
                }
            });
        });
    }

    function editMeta(metaId){
        $.modal.open("修改元素", prefix+"/edit/"+metaId, 800, 600, editCallBack);
    }

    function seeMeta(metaId){
        $.modal.open("查看详细", prefix+"/see/"+metaId, 800, 600, editCallBack);
    }

    function addMeta(){
        $.modal.open("添加元素", prefix+"/add?bookKey="+bookKey, 800, 600, addCallBack);
    }

    function editCallBack(index){
        window.parent.document.querySelector("#layui-layer-iframe"+index).contentWindow.submitHandler();
        setTimeout(function (){
            initQueryParm();
            queryMeta();
        }, 800);
        $.modal.closeAll();
    }

    function addCallBack(index){
        window.parent.document.querySelector("#layui-layer-iframe"+index).contentWindow.submitHandler();
        setTimeout(function (){
            initQueryParm();
            queryMeta();
        }, 800);
        $.modal.closeAll();
    }
</script>
</body>
</html>