<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('书中元素列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row" id="metaContent">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>名称：</label>
                            <input type="text" name="name"/>
                        </li>
                        <li class="hidden">
                            <label>书名：</label>
                            <input type="hidden" name="bookKey" th:value="${bookKey}">
                        </li>
                        <li>
                            <label>类型：</label>
                            <select name="state" th:with="type=${@dict.getType('book_meta')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                            <a class="btn btn-success btn-rounded btn-sm" onclick="addMeta();" shiro:hasPermission="logic:meta:add">
                                <i class="fa fa-plus"></i> 添加
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:src="@{/ruoyi/logic/meta.js}"></script>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('logic:meta:edit')}]];
    var removeFlag = [[${@permission.hasPermi('logic:meta:remove')}]];
    var bookKeyDatas = [[${@dict.getType('book_name')}]];
    var stateDatas = [[${@dict.getType('book_meta')}]];
    var bookKey = [[${bookKey}]];

    var prefix = ctx + "logic/meta";

    $(function () {
        queryMeta();
    });
    let pageNum = 1;
    let pageSize = 24;
    let ajaxFlag = true;
    function queryMeta(){
        if (!ajaxFlag){
            return;
        }
        let metaName = $("input[name='name']").val();
        $.ajax({
            url: prefix + "/list",
            method: "post",
            beforeSend: function(){
                $.modal.loading();
            },
            data: {bookKey: bookKey, metaName: metaName, pageNum: pageNum, pageSize: pageSize, orderByColumn: "metaId", isAsc: "asc"},
            success: function (data){
                let model = "<div class=\"col-sm-3\"><div class=\"thumbnail\"><img src=\"{0}\">"
                 +"<div class=\"caption\">"
                 +"<h3>{1}</h3>"
                 +"<div class=\"text-right\" style=\"padding-bottom: 10px;\">"
                 +"<a href=\"#plus\" style=\"padding-right: 10px;\" onclick=\"addRelation({3})\" title=\"添加关系\"><i class=\"fa fa-plus\"></i></a>"
                 +"<a href=\"#times\" style=\"padding-right: 10px;\" onclick=\"removeMeta({3})\" title=\"删除元素\"><i class=\"fa fa-times\"></i></a>"
                 +"<a href=\"#pencil-square-o\" style=\"padding-right: 10px;\" onclick=\"editMeta({3})\" title=\"编辑元素\"><i class=\"fa fa-edit\"></i></a>"
                 +"</div>"
                 +"<div style=\"height: 100px;max-height: 100px;\">"
                 +"<p>{2}</p>"
                 +"</div></div></div></div>";

                let meta = data.rows;

                if (meta.length === pageSize){
                    pageNum++;
                }else{
                    ajaxFlag = false;
                }

                for (let i=0;i<meta.length;i++){
                    let photo = meta[i].photo===""?ctx + "img/qtk.jpg":meta[i].photo;

                    $("#metaContent").append(model.format(photo, meta[i].name, meta[i].profile, meta[i].metaId));
                }

                $.modal.closeLoading();
            }
        });
    }

    function addRelation(metaId){
        $.modal.openTab("添加关系", ctx + "?metaId=" + metaId);
    }

    function removeMeta(metaId){
        $.modal.confirm("确定删除元素？", function (ent){

        });
    }

    function editMeta(){

    }

    function addMeta(){
        $.modal.open("添加元素", prefix+"/add?bookKey="+bookKey, 800, 600, addCallBack);
    }

    function addCallBack(index){
        window.parent.document.querySelector("#layui-layer-iframe"+index).contentWindow.submitHandler();
        setTimeout(function (){
            //刷新页面， 或者重新重新查找
        }, 800);
        $.modal.closeAll();
    }
</script>
</body>
</html>